{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="py-5 bg-persian-green">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <!-- <img src="https://via.placeholder.com/200" alt="..." class="img-thumbnail float-right"> -->
        <img src="{% static 'appportfolio/images/200x200.png' %}" alt="..." class="img-thumbnail float-right">
      </div>
      <div class="col-sm-8">
        <h6>Hello, My name is</h6>
        <h1>Soumyajit Gorai</h1>
        <p class="font-weight-light">A professional full-stack developer with a good sense of humor. Currently working as a Software Developer at Ribbon Communications. Experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Always excited to try out new things and build something great out of nothing.</p>
        <a href="#" class="btn btn-info bg-crayola">Hire Me</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-bold">Skills Overview</h1>
    <p>I have over 3+ years of experience building rich web applications for clients all over the world. Below is a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? Check out my online resume.</p>
    <div class="row">
      <!-- Frontend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-desktop fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Frontend</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> JavaScript/jQuery</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> HTML/CSS/Bootstrap</li>
              <br>
              <br>
            </ul>
          </div>
        </div>
      </div>
      <!-- Backend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-gears fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Backend</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Python/Flask/Django</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Shell/Bash</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> PostgresSQL/MySQL</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> PHP</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Others -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-send fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Others</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Wordpress</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Docker/Kubernetes</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Unit Testing</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-sandy-brown">

</section>
{% endblock %}
{% block hireme %}
<section class="py-5 bg-persian-green">
  <div class="container text-center">
    <img class="rounded-circle" src="{% static 'appportfolio/images/120x120.png' %}" alt="">
    <h1 class="font-weight-bold">Interested in hiring me for your project?</h1>
    <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="text-sandy-brown" href="#">soumya173@gmail.com</a> or use the <a class="text-sandy-brown" href="#">form on the contact page</a>.</p>
    <a class="btn btn-info bg-crayola" href="#">Let's Talk</a>
  </div>
</section>
{% endblock %}
