{% extends 'base.html' %}
{% block content %}
<section>
  <div class="container">
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <!-- name header -->
      <div class="row mt-3">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Soumyajit Gorai</h1>
          <h6 class="text-muted">Senior Software Engineer</h6>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 border-left">
          <ul class="list-unstyled">
            <li><i class="fa fa-phone-square mr-2 text-charcoal" aria-hidden="true"></i> (+91) 9635031710</li>
            <li><i class="fa fa-envelope mr-2 text-charcoal" aria-hidden="true"></i> soumya173@gmail.com</li>
            <li><i class="fa fa-github-square mr-2 text-charcoal" aria-hidden="true"></i> github.com/soumya173</li>
            <li><i class="fa fa-globe mr-2 text-charcoal" aria-hidden="true"></i> Kolkata, India</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row my-5">
        <div class="col-md-6 col-lg-4 col-xl-3 text-center">
          <img class="rounded-circle" src="https://via.placeholder.com/120" alt="">
        </div>
        <div class="col-md-6 col-lg-8 col-xl-9 text-justify">
          <p>A self motivated and independent developer, working as a backend software developer in the IT industry for more than 3 years in agile model. Experienced in developing REST APIs and other services in a micro-service based cloud applicaiton. A quick learner and a real-time problem solver with a positive attitude towards learning new things.</p>
        </div>
      </div>
      <hr>
      <div class="row my-5">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mb-4 topic-border-left">Work Experiences</h5>
          <!-- Senior Software Engineer -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold">Senior Software Engineer</h6>
              <p class="text-muted">Ribbon Communications</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>2017 - Present</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>Develop clean and reusable modules in Python to build system applications which can run on various platforms. Debug issues and fix bugs in the system using the agile development life cycle. Develop REST APIs using swagger model and python flask. Develop end to end feature with zero tolerance for bugs and contributing to daily scrum meetings.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 border-left">
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mb-4 topic-border-left">Skills</h5>
          <ul class="list-unstyled">
            <h6 class="font-weight-bold">Technical</h6><hr>
            <li>Python / Flask / Django</li>
            <li>REST API / Swagger</li>
            <li>Shell Scripting</li>
            <li>Postgresql / MySQL</li>
            <li>Docker / Kubernetes</li>
          </ul>
          <h6 class="font-weight-bold">Professional</h6><hr>
          <ul class="list-unstyled">
            <li>Effective communication</li>
            <li>Team player</li>
            <li>Strong problem solver</li>
            <li>Quick learner</li>
          </ul>
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mb-4 topic-border-left">Education</h5>
          <h6 class="">B. Tech</h6>
          <p class="text-muted">Computer Science and Engineering</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
